# Created by .ignore support plugin (hsz.mobi)

.idea/vcs.xml
.idea/workspace.xml
.idea/artifacts/20170925_wyb_Register_dynamic_war_exploded.xml
.idea/inspectionProfiles/
20170925_wyb_Register/web/index.jsp
out/
!/20171102_wyb_uploadDownload/web/index.jsp
